<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Euronexo</title>

  <meta name="description" content="Front-end web developer that helps companies build effective user interfaces. I love diving into new challenges and into the blue ocean.">

  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,500,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- Tachyons: A CSS Framework http://tachyons.io/docs/table-of-styles/-->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

  <link rel="stylesheet" href="styles.css"/>
 <!--  <link rel="icon" href="assets/favicon.ico"> -->
</head>

<body>
  <header style="background: #f8ce6a;">
    <div class="container flex items-center pv2 justify-center">
      <img src="https://www.freelogodesign.org/file/app/client/thumb/66f9462d-abce-4167-b80a-2307f22674ce_200x200.png?1567360701142" class="db w3 mr2">
      <h3 class="white fw7 ttu tracked mb0" style="color: #878E88;">euronexo</h3>
    </div>
    <div class="container pv5-ns pv4 flex flex-wrap items-center">
      <div class="w-40-ns w-100 mb4 mb0-ns">
        <h1>Estudia en Europa</h1>
        <p class="mb4">Encuentra los mejores programas de pegrado y posgrado en reconocidas universidades Españolas y aplica desde Colombia!</p>

        <a href="#courses" class="btn">Ver programas</a>
      </div>

      <div class="w-60-ns w-100 ph5-ns ph4">
        <img src="assets/destination.svg" style="transform: scaleX(-1);">
      </div>
    </div>
  </header>

  <section class="container pv5">
    <h2 class="tc">Asesoria Integral para Estudios</h2>

    <div class="flex flex-wrap justify-center section mb4">
      <div class="ph3 w-third-ns w-100 tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/959338-200.png" class="db">
        </div>

        <h4 class="tc mb2">Búsqueda de becas</h4>
        <p>Te ayudamos en la búsqueda de becas de organismos públicos y privados que se ajusten mejor a tu perfil.</p>
      </div>

      <div class="ph3 w-third-ns w-100 tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/959340-200.png" class="db">
        </div>
        <h4 class="tc mb2">Confección del currículum vitae</h4>
        <p>Confeccionamos tu cv como parte del proceso de solicitud de una beca y/o plaza de estudiante en una Universidad europea.</p>
      </div>

      <div class="ph3 w-third-ns w-100 tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/1137871-200.png" class="db">
        </div>

        <h4 class="tc mb2">Solicitud de becas</h4>
        <p>Te guiamos en cada paso del proceso de aplicación de la beca y/o plaza de estudiante en una Universidad europea</p>
      </div>

      <div class="ph3 w-third-ns w-100 tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/2528258-200.png" class="db">
        </div>

        <h4 class="tc mb2">Solicitud de visados</h4>
        <p>Para estudiar en Europa debes solicitar con anticipación un visado de estudiante, te asesoramos en todo el proceso.</p>
      </div>

      <div class="ph3 w-third-ns w-100 tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/964157-200.png" class="db">
        </div>

        <h4 class="tc mb2">Homologación, convalidación y equivalencia de títulos</h4>
        <p>Hacemos las gestiones necesarias para el reconocimiento de tu título en España.</p>
      </div>
    </div>

    <div class="tc">
      <a href="mailto:consulta@torrescadavid.com" class="btn">Contáctenos</a>
    </div>
  </section>

  <section id="courses" class="pv5" style="background: #ececec;">
    <div class="container">
      <h2 class="tc">Másters Oficiales en España</h2>

      <div  class="flex flex-wrap">
        <div v-for="course in paginatedList" class="w-25-l w-third-m w-100 ph2 mb3">
          <div class="bg-white shadow-4 pa4 h-100">
            <p class="mb1">${course.university}</p>

            <p class="f6 mb3 gray ttu sans"><i class="fas fa-map-marker-alt"></i> ${course.city}, ${course.country}</p>

            <h4 class="f5 mb3">${course.course}</h4>

            <a href="#" class="rubik pointer" target="_blank" @click.prevent="activeCourse = course">Ver información <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <ul class="pa0 list flex justify-center mb4">
        <li class="mh2 link pointer"
          :class="{'disabled o-40': currentPage === 1}"
          @click.prevent="changePage(currentPage - 1)">
          <i class="fas fa-angle-double-left"></i>
        </li>

        <li v-for="n in pageCount" class="mh2 link pointer"
          :key="n"
          :class="{'bb bw1 active': n === currentPage}"
          @click.prevent="changePage(n)">
          ${ n }
        </li>

        <li class="mh2 link pointer"
          :class="{'disabled o-40': currentPage === pageCount}"
          @click.prevent="changePage(currentPage + 1)">
          <i class="fas fa-angle-double-right"></i>
        </li>
      </ul>

      <div v-if="!_.isEmpty(activeCourse)">
        <div class="fixed absolute--fill z-999 bg-black o-40"></div>

        <div v-show="!_.isEmpty(activeCourse)" class="flex flex-column items-center justify-center vh-100 fixed absolute--fill z-9999 pa4-l pa2" style="display:none;" @click.prevent="toggleModal({})">
          <div class="bg-white ph4-ns ph3 pv2 mw-100 paragraph tr">
            <a href="#" class="f3" @click.prevent="toggleModal({})">x</a>
          </div>

          <div class="bg-white mw-100 paragraph overflow-y-auto ph4 pb4" @click.stop="">
            <p class="f6 ttu sans">Master Oficial&nbsp;&nbsp;|&nbsp;&nbsp;${ activeCourse.type }&nbsp;&nbsp;|&nbsp;&nbsp;Homologable</p>

            <h2 class="mb1 lh-title">${ activeCourse.course }</h2>
            <p class="f4">${ activeCourse.university }</p>

            <p class="mb0"><span class="fw7">Ciudad:</span> ${ activeCourse.city }</p>
            <p><span class="fw7">Idioma:</span> ${ activeCourse.language }</p>

            <p class="mb0"><span class="fw7">Fechas:</span> ${ activeCourse.dates }</p>
            <p class="mb0"><span class="fw7">Duración:</span> ${ activeCourse.months } meses</p>
            <p><span class="fw7">Créditos:</span> ${ activeCourse.credits } meses</p>

            <p class="mb4"><span class="fw7">Precio:</span> ${ activeCourse.price }</p>

            <div class="tc">
              <a href="mailto:consulta@torrescadavid.com" class="btn">Estoy Interesado!</a>
            </div>

          </div>
        </div>
      </div>

      <div class="tc">
        <a href="mailto:consulta@torrescadavid.com" class="btn">Contáctenos</a>
      </div>
    </div>
  </section>

  <footer class="pt4 pb2">
    <div class="container">
       <div class="section flex flex-wrap justify-between pv3">

      <div class="w-75-ns w-100 flex">
        <div class="w-third-l w-50">
          <h4 class="mb2 f5 ttu">Servicios en Colombia</h4>

          <ul class="pl3">
            <li class="mb1">Elección de estudios</li>
            <li class="mb1">Solicitud de becas</li>
            <li class="mb1">Confección del CV</li>
            <li>Trámite de visados</li>
          </ul>
        </div>

        <div class="w-third-l w-50">
          <h4 class="mb2 f5 ttu">Servicios en España</h4>

          <ul class="pl3">
            <li class="mb1">Permisos de estancia y residencia</li>
            <li class="mb1">Cambio de status migratorio</li>
            <li class="mb1">Homologación, convalidación y equivalencia de títulos</li>
          </ul>
        </div>
      </div>

      <div class="w-25-l w-100 flex flex-column flex-row-m">
        <!-- <h4 class="mb2">Contacto</h4> -->
        <div class="flex items-start mr4-m">
          <img src="https://cdn1.iconfinder.com/data/icons/rounded-flat-country-flag-collection-1/2000/co-01.png" class="h2 mr3 br-50">

          <div>
            <p class="mb1">+57 4 444 5044</p>
            <p>Calle 7 Sur No. 42 - 70, Of. 1601
              <br>Medellín, Colombia.
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <img src="https://cdn.countryflags.com/thumbs/spain/flag-round-250.png" class="h2 mr3 br-50">

          <div>
            <p class="mb1">+34 886 122 330</p>
            <p>Av. Pizarro 21, ent.º D. 36204
              <br>Vigo, España
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row-ns flex-column justify-between items-center bt bb-0 br-0 bl-0 b--dashed b--blue pt2">
      <div class="flex justify-start items-center mb3 mb0-ns">
        <img src="https://www.freelogodesign.org/file/app/client/thumb/66f9462d-abce-4167-b80a-2307f22674ce_200x200.png?1567360701142" class="db w2 mr2 db">
        <p class="mb0 f6 gray ttu sans">Euronexo es una iniciativa de <a href="http://torrescadavid.com/">Torres Cadavid Abogados</a> y <a href="http://gutierrezmarquez.com">Gutiérrez Márquez Asesores</a>.</p>
      </div>

      <div class="flex justify-end section">
        <i class="fab fa-facebook-f mh2"></i>
        <i class="fab fa-twitter mh2"></i>
        <i class="fab fa-instagram mh2"></i>
        <i class="fab fa-linkedin-in mh2"></i>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <!-- tabletop: A library to get google sheets data as json -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js
  "></script>

  <script src="app.js"></script>
</body>

</html>
