<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Euronexo</title>

  <meta name="description" content="Front-end web developer that helps companies build effective user interfaces. I love diving into new challenges and into the blue ocean.">

  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,500,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- Tachyons: A CSS Framework http://tachyons.io/docs/table-of-styles/-->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

  <link rel="stylesheet" href="styles.css"/>
 <!--  <link rel="icon" href="assets/favicon.ico"> -->
</head>

<body>
  <header style="background: #f8ce6a;">
    <div class="container flex items-center pv2 justify-center">
      <img src="https://www.freelogodesign.org/file/app/client/thumb/66f9462d-abce-4167-b80a-2307f22674ce_200x200.png?1567360701142" class="db w3 mr2">
      <h3 class="white fw7 ttu tracked mb0" style="color: #878E88;">euronexo</h3>
    </div>
    <div class="container pv5 flex items-center">
      <div class="w-40">
        <h1>Estudia en Europa</h1>
        <p class="mb4">Encuentra los mejores programas de pegrado y posgrado en reconocidas universidades Españolas y aplica desde Colombia!</p>

        <a href="" class="btn">Ver programas</a>
      </div>

      <div class="w-60 ph5">
        <img src="assets/destination.svg" style="transform: scaleX(-1);">
      </div>
    </div>
  </header>

  <section class="container pv5">
    <h2 class="tc">Asesoria total para estudios</h2>

    <div class="flex flex-wrap justify-center section">
      <div class="ph3 w-third tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/959338-200.png" class="db">
        </div>

        <h4 class="tc mb2">Búsqueda de becas</h4>
        <p>Te ayudamos en la búsqueda de becas de organismos públicos y privados que se ajusten mejor a tu perfil.</p>
      </div>

      <div class="ph3 w-third tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/959340-200.png" class="db">
        </div>
        <h4 class="tc mb2">Confección del currículum vitae</h4>
        <p>Confeccionamos tu cv como parte del proceso de solicitud de una beca y/o plaza de estudiante en una Universidad europea.</p>
      </div>

      <div class="ph3 w-third tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/1137871-200.png" class="db">
        </div>

        <h4 class="tc mb2">Solicitud de becas</h4>
        <p>Te guiamos en cada paso del proceso de aplicación de la beca y/o plaza de estudiante en una Universidad europea</p>
      </div>

      <div class="ph3 w-third tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/2528258-200.png" class="db">
        </div>

        <h4 class="tc mb2">Solicitud de visados</h4>
        <p>Para estudiar en Europa debes solicitar con anticipación un visado de estudiante, te asesoramos en todo el proceso.</p>
      </div>

      <div class="ph3 w-third tc mb3">
        <div class="w4 ph3 center">
          <img src="https://static.thenounproject.com/png/964157-200.png" class="db">
        </div>

        <h4 class="tc mb2">Homologación, convalidación y equivalencia de títulos</h4>
        <p>Hacemos las gestiones necesarias para el reconocimiento de tu título en España.</p>
      </div>
    </div>
  </section>

  <section id="courses" class="pv5" style="background: #ececec;">
    <div class="container">
      <h2 class="tc">Másters Oficiales en España</h2>

      <div  class="flex flex-wrap">
        <div v-for="course in paginatedList" class="w-25 ph2 mb3">
          <div class="bg-white shadow-4 pa4 h-100">
            <p class="mb1">${course.university}</p>

            <p class="f6 mb3 gray ttu sans"><i class="fas fa-map-marker-alt"></i> ${course.city}, ${course.country}</p>

            <h4 class="f5 mb3">${course.course}</h4>

            <a :href="course.url" class="rubik pointer" target="_blank">Ver información <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <ul class="list flex justify-center">
        <li class="mh2 link pointer"
          :class="{'disabled o-40': currentPage === 1}"
          @click.prevent="changePage(currentPage - 1)">
          <i class="fas fa-angle-double-left"></i>
        </li>

        <li v-for="n in pageCount" class="mh2 link pointer"
          :key="n"
          :class="{'bb bw1 active': n === currentPage}"
          @click.prevent="changePage(n)">
          ${ n }
        </li>

        <li class="mh2 link pointer"
          :class="{'disabled o-40': currentPage === pageCount}"
          @click.prevent="changePage(currentPage + 1)">
          <i class="fas fa-angle-double-right"></i>
        </li>
      </ul>
    </div>

  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <!-- tabletop: A library to get google sheets data as json -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

  <script>
    var courses = new Vue({
      el: '#courses',
      delimiters: ['${','}'],
      data: {
        courses: [],
        currentPage: 1,
        perPage: 12,
      },

      computed: {
        cities: function() {
          return _.uniq(_.map(this.courses, 'city'));
        },

        areas: function() {
          return _.uniq(_.map(this.courses, 'area'));
        },

        filteredList: function() {
          return this.courses;
        },

        startIndex: function() {
          return (this.currentPage - 1) * this.perPage;
        },

        endIndex: function() {
          var itemsCount = this.filteredList.length;
          var pageLastIndex = this.currentPage * this.perPage;
          return pageLastIndex < itemsCount ? pageLastIndex : itemsCount;
        },

        paginatedList: function() {
          return this.filteredList.slice(this.startIndex, this.endIndex);
        },

        pageCount: function() {
          return Math.ceil(this.filteredList.length / this.perPage);
        }
      },

      methods: {
        changePage: function(n) {
          // this.scrollIntoView('exhibitions');
          // this.setLoading(true);
          this.currentPage = n;
          // setTimeout(() => { this.setLoading(false); }, 500);

        }
      },

      created: function() {

        var self = this;
        var publicSpreadsheetUrl = 'https://docs.google.com/spreadsheets/d/16C4SoPyq50yP2rLITPspAlAQLgDYBEK96Lf3Y1mVcQo/edit?usp=sharing';

        Tabletop.init( { key: publicSpreadsheetUrl,
                       callback: showInfo,
                       simpleSheet: true } )

        function showInfo(data, tabletop) {
          self.courses = data;
        }
      }
    });
  </script>

</body>

</html>
