/*** GLOBAL SETTINGS ***/
/*#76bed0*/
html {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 1.414;
  color: #051c2c;
  font-weight: 300;
}

p { margin-top: 0; }

a,
.link {
  color: #F55D3E;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  text-decoration: none;
}

a:hover,
.link:hover,
.link.active {
  /*color: #408a97;*/
  color: #f55d3e;
}

a.white:hover {
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-top: 0;
}

.rubik {
  font-family: 'Rubik', sans-serif;
}
/*** TACHYONS OVERWRITE ***/
/*type scale*/
h1, .f1 { font-size: 2.441rem; }

h2, .f2 { font-size: 1.953rem; }

h3, .f3 { font-size: 1.563rem; }

h4, .f4 { font-size: 1.25rem; }

.f6 { font-size: 0.8rem; }

.f7 { font-size: 0.64rem; }


.tracked { letter-spacing: 0.0275em; }

.black { color: #051c2c; }

.gray { color: #878E88; }

.b--gray { border-color: #878E88; }

.b--blue { border-color: #76bed0; }

.bg-gray { background-color: #878E88; }

.bg-light-gray { background-color: #a3b2bf; }

.bg-near-white { background-color: #f8f8f7; }

.br-50 { border-radius: 50%; }


/*** HELPERS ***/
.container {
  width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-right: -1rem;
  margin-left: -1rem
}

.paragraph {
  width: 600px;
  max-width: 100%;
}

.ar--square:before {
  display: block;
  content: "";
  width: 100%;
}
.ar--square:before {
  padding-top: 100%;
}

.btn {
  padding: 0.75em 2em;
  background-color: #F55D3E;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);*/
  box-shadow: 2px 6px 7px -7px rgba(0, 0, 0, 0.3);
  border-radius: 2.4rem;
  text-decoration: none;
  letter-spacing: 0.0325em;
  display: inline-block;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.btn:hover {
  box-shadow: none;
}

.btn:active {
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.3);
  text-shadow: none;
}

.btn:hover,
.btn:active {
  color: #fff;
  /*background: #408a97;*/
  background: #f55d3e;
}

.br50 { border-radius: 50%; }

.flip-x {
  transform: scaleX(-1)
}

.disabled {
  pointer-events: none;
}

.bg-gradient {
  background: linear-gradient(to bottom, #0e5172 0%,#0e5172 20%,#f8f8f7 20%,#f8f8f7 20%,#f8f8f7 100%);
}

/*** INDEX STYLES ***/
.w-12_25 {
  width: 12.25%;
}

.w-75_50 {
  width: 75.50%;
}

#progressBar {
  height: 0.25rem;
  background: #0e5172;
  -moz-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.bg-half {
  background-color: transparent;
  background:    -moz-linear-gradient(top, #f8f8f7 0%, #f8f8f7 38%, #ffffff 38%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f8f8f7 0%, #f8f8f7 38%, #ffffff 38%, #ffffff 100%);
  background:         linear-gradient(to bottom, #f8f8f7 0%, #f8f8f7 38%, #ffffff 38%, #ffffff 100%);
}

/*** RESUME STYLES ***/
main[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

/*** DESKTOP ***/
@media screen and (min-width: 60em) {
  .bg-none-l {
    background: none;
  }
}

/*** TABLET AND DESKTOP ***/
@media screen and (min-width: 30em) {
  .bg-near-white-ns { background-color: #f8f8f7; }
}

/*** PRINT ***/
@page { margin: 0; }

@media print {
  html, body, main[size="A4"] { height: auto; }

  .dn-print { display: none; }

  /*extend tachyons' tablet/desktop styles*/
  .flex-row-ns { flex-direction: row; }

  .order-1-ns { order: 1; }

  .order-2-ns { order: 2; }

  .w-third-ns { width: 33.33%; }

  .w-two-thirds-ns { width: 66.66%; }
}
